body {
	background: url(tweed.png) repeat 0 0;
}

.navbar-default {
	background: url(tweed.png) repeat 0 0;
}



#smaller {
	font-size: 100%;
	color: #C0C0C0;
}

#header {
	font-family: 'Bree Sarif', serif;
	color: #C0C0C0;
}

#main {
	font-family: 'Alegraya Sans', serif;
	color: #C0C0C0;
}

h1 {
	font-size: 400%;
}

#main {
	font-size: 200%;
}

#larger {
	font-size: 175%;
	color: #6495ED;
}